<html>
   <body>
   <h1> Sales Timeseries Forecast </h1>
   Please enter the revenues for the past 5 months:
      <form action = "prediction" method = "POST">
         <p> <label> Sepal Length </label> <input type = "number" step = "any" name = "sepallength" /> </p>
         <p> <label> Sepal Width </label> <input type = "number" step = "any" name = "sepalwidth" /> </p>
	 <p> <label> Petal Length </label> <input type = "number" step = "any" name = "petallength" /> </p>
	 <p> <label> Petal Width </label> <input type = "number" step = "any" name = "petalwidth" /> </p>
	 <p> <input type = "submit" value = "Submit" /> </p>
      </form>
   </body>
</html>
